@charset "utf-8";


.my-footer {
	background-color: rgba(33, 64, 102, 1);
	height: 30px;
	width: 100%;
    position: fixed;
    bottom: 0;
	line-height: 1.7em;
	padding: 5px;
	
	
}

.progress {
	margin-right: 20px;
	margin-top: 3px;
  	width: 100%;
  	height: 15px;
  	position: relative;
	font-family:"Myriad Pro", Helvetica, Arial, sans-serif;
	font-size: 0.7em;
	font-weight: bolder;
}


.progress > svg {
    width: 100%;
    display: block;
}

.printOnly {
   display : none;
}



body {
	font-family:"Myriad Pro", Helvetica, Arial, sans-serif;
	padding-top: 10px;
}

.selected {
	background-color:blue;
}

ul.pagination li a.active {
    background-color: white;
    color: black;
}

ul.pagination li a:hover:not(.active) {background-color: white; color:black;}
ul.pagination li a {
    background-color: black;
	color:white;
}


/*Main Column Text Styles*/
.page-header {
	color:#000;
	font-size:1.1em;
	text-align:left;
}

.content-h1 {
	color:#214066;
	font-size:2em;
	font-weight:bold;
	margin-bottom:10px;
}

.content-h2 {
	color:#00a7df;
	font-size:1.6em;
	font-weight:bold;
	margin-bottom:10px;
}

.content-h3 {
	color:#e67324;
	font-size:1.4em;
	font-weight:bold;
	margin-bottom:10px;
}

.content-p {
	color:#000;
	font-size:1.1em;
	line-height: 1.7em;
	padding:5px;
	margin-bottom:15px;
}

/*Side Column Text Styles*/
.content-coh {
	color:#00a7df;
	font-size:1.2em;
	font-weight:bold;
}

.content-cop {
	color:#000;
	font-size:0.9em;
}
/*Side Column Border Styles*/
.left-section {
	border-right:solid;
	border-right-width:2px;
	border-color:aqua;
	float:left;
	padding-right:20px;
}

.right-section-bar1 {
height:25px;
margin-bottom:15px;
margin-top:15px;
background: rgb(33,64,102); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(33,64,102,1) 28%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(33,64,102,1) 28%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(33,64,102,1) 28%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214066', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	color:#fff;
	font-size:1.1em;
	padding-left: 10px;
	padding-top:4px;
}

.right-section-bar2 {
height:25px;
margin-bottom:15px;
margin-top:15px;
background: rgb(33,64,102); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(55,100,102,1) 28%, rgba(255,255,255,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(55,100,102,1) 28%,rgba(255,255,255,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(55,100,102,1) 28%,rgba(255,255,255,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214066', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	color:#fff;
	font-size:1.1em;
	padding:5px;
}


.right-section-boxhead1 {
height:35px;
font-weight:bolder;
margin-top:15px;
background: rgb(33,64,102); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(34,65,103,1) 28%, rgba(11,38,69,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(34,65,103,1) 28%,rgba(11,38,69,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(34,65,103,1) 28%,rgba(11,38,69,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#214066', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
	color:#fff;
	font-size:1.4em;
	padding:5px;
}

.right-section-box-content1 {
	background-color:#c3c3d0;
	font-size:1.0em;
	padding:15px;
	color:#000;
}



/*Image Styles*/
.img-responsive {
	border:solid;
	border-width:1px;
	border-color:#000;
}


/*Interactivity Styles*/
/* Content Classes */
.content {
	font-family: Lato;
	font-size:1.2em;
}

.content2 {
	font-family: Lato;
	font-size:2.2em;
}

.content3 {
	font-family: Lato;
	font-size:1.8em;
}

.questionText {
	font-family: Lato;
	font-size:1.2em;
	font-weight:bold;
}

.questionAnswers {
	font-family: Lato;
	font-size:1.0em;
}

/* Content Classes */


.img-responsive {
	border-style:solid;
	border-width:2px;
	border-color:#000;

}


.ui-widget-content {
	border-radius: 5px;;
	border-color: #A4AAAD;
	border-width: 3px;
	border-style:outset;
	
}

.ui-widget-header {
	border-radius: 5px;
	border-width: 5px;
	border: 3px dashed #005089;

}

.widg {
	margin:5px;
}


.add p {
	font-family: Lato;
	font-size:1.0em;
	margin-left:5px;
}

.img-bg {
	background-color:#A6ACAF;
}

.headers h4{
font-size:14px;
font-family: Lato;
padding-top:5px;
padding-bottom:5px;
font-weight:bolder;
}



.interactivity-header h1 {
font-size:28px;
font-family: Lato;
padding-top:5px;
padding-bottom:5px;
font-weight:bolder;

}



#answer { 
	font-family: Lato;
	width:100%;
	min-height:100px;
	margin-top:15px;
	line-height:20px;
	padding: 5px;
	border-radius: 2px;
	border-color:#a4aaad;
	border-width:5px;
	border-style:solid;
	background-color:#0c3b60;
	color:white;
	word-break:keep-all;
	}
	
#answer h3 {
	font-family: Lato;
	font-size:16px;
	margin-top:2px;
	margin-left:10px;
	font-weight:bolder;
}

#answer p {
	font-family: Lato;
	font-size:14px;
	margin-top:5px;
	margin-left:10px;
	
}
	
	
	
.btn-one {
  width:100%;
  float:left;
  font-size:18px;
  font-family: Lato;
  height:40px;		
background-color: hsl(239, 100%, 31%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c3b60", endColorstr="#0c1a60");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0c3b60), to(#0c1a60));
  background-image: -moz-linear-gradient(top, #0c3b60, #0c1a60);
  background-image: -ms-linear-gradient(top, #0c3b60, #0c1a60);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c3b60), color-stop(100%, #0c1a60));
  background-image: -webkit-linear-gradient(top, #0c3b60, #0c1a60);
  background-image: -o-linear-gradient(top, #0c3b60, #0c1a60);
  background-image: linear-gradient(#0c3b60, #0c1a60);
  border-color: #00029e #00029e hsl(239, 100%, 22.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}


.btn-two {
  width:100%;
  float:left;
  font-size:18px;
  font-family: Lato;
  height:40px;		
background-color: hsl(239, 100%, 31%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0c3b60", endColorstr="#0c1a60");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#0c3b60), to(#0c1a60));
  background-image: -moz-linear-gradient(top, #0c3b60, #0c1a60);
  background-image: -ms-linear-gradient(top, #0c3b60, #0c1a60);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0c3b60), color-stop(100%, #0c1a60));
  background-image: -webkit-linear-gradient(top, #0c3b60, #0c1a60);
  background-image: -o-linear-gradient(top, #0c3b60, #0c1a60);
  background-image: linear-gradient(#0c3b60, #0c1a60);
  border-color: #00029e #00029e hsl(239, 100%, 22.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.56);
  -webkit-font-smoothing: antialiased;
}


/*Nav Bar Styles*/
#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
	
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(33, 64, 102, 1);
    border-width: 1px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
	margin-top:9px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: black;
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(8, 8, 8, 1);
    background-color: rgba(0, 167, 223, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #00a7df;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #00a7df;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #00a7df;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #214066;
}

@media (max-width:480px){
	.left-section {
	border-right:none;

}
}

 /* style sheet for "letter" printing */
@media print {  
	
	.my-footer {
    position: fixed;
    bottom: 0 !important;
  }

 	 img {page-break-before: always;}
	
	 .printOnly {
       display : block;
    }
	
	.no-print, .no-print *
    {
        display: none !important;
    }
	
	@page {  
     size:297mm 360mm;
	background-color: white !important;
	-webkit-print-color-adjust: exact;
    }
	
	.PortSwap {
	 height: 100%;     /* full height of the content box */
  	 max-height: 260mm; /* requires an absolute value for height. */
	 page-break-after: always !important;
}
}


